@laptopScreen: 1024px;
@tabletScreen: 800px;
@mobileScreenL: 425px;
@mobileScreenS: 370px;

@media screen and (max-width: 1170px){
	/* Block - projects */
	.projects__headline {
		padding: 0;
	}

	.projects__item {
		margin-bottom: 20px;
	}

	.projects__list {
		padding-left: 20px;
	}

}
@media screen and (max-width: @laptopScreen){
	/* Block - page-header */
	.page-header__bg {
		right: -10%;

		width: 50%;
	}

	.page-header__brelok {
		width: 300px;
	}

	/* Block - projects */
	.projects__item:last-child {
		display: none;
	}
}

@media screen and (max-width: 846px){
	/* Block - projects */
	.projects__item:nth-child(3) {
		display: none;
	}
}

@media screen and (max-width: @tabletScreen){
	.page-header__bg {
		right: -20%;

		width: 70%;
	}

	.page-header__brelok {
		width: 260px;
	}
}

@media screen and (max-width: 600px){
	/* Block - projects */
	.projects__list {
		justify-content: center;
	}
	/* Block - page-header */
	.page-header__bg {
		width: 100%;
	}

	.page-header__brelok {
		display: none;
	}

}

@media screen and (max-width: @mobileScreenL){
	/* Block - projects */
	.projects {
		background: linear-gradient(to right; #e6e6e6 0%,  #000 100%);
	}
	.projects__inner {
		display: block;
	}
	.projects__headline {
		width: 100%;

		color: #fff;
		font-size: 24px;
		text-align: center;
	}
	.projects__number {
		display: inline-block;

		font-size: 22px;
		font-weight: 700;
	}

	.projects__list {
		width: 100%;
		padding-left: 0;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.projects__item {
		width: 46%;
		margin: 0;
		min-height: 67px;

		background: #fff;
	}

	.projects__item div {
		width: 100%;
	}
	/* Block - page-header */
	.page-header {
		text-align: center;
	}
	
	.page-header__bg {
		top: 30px;
		right: 0;
	}

	.page-header__brelok {
		bottom: 45px;
		right: 18%;

		display: block;
		width: 230px;
	}

	.page-header__wave-part {
		bottom: 12%;
		transform: translateX(0);

		display: block;
		width: 150px;
	}

	.page-header__inner {
		padding-top: 15px;
	}

	.page-header__top-content {
		justify-content: space-around;
	}

	.page-header__content {
		margin-top: 140px;
	}

	.page-header__logo {
		width: 70px;
	}
	
	.page-header__headline {
		max-width: 242px;
		margin: 0 auto;

		font-size: 2.5rem;
	}

	.page-header__phone {
		display: none;
	}

	.page-header__phone--hidden {
		display: inline-block;
		margin-top: 20px;

		border-color: #000;
	}

	.page-header__phone--hidden .phone {
		color: #000;
	}
}

@media screen and (max-width: @mobileScreenS){
	.page-header__brelok {
		width: 180px;
		bottom: 25%;
		right: 25%;
	}
}