/* Corel Regular */
@font-face { 
  font-family: 'Corbel'; 
  src: url('../fonts/corbel-regular.woff2') format('woff2'), 
       url('../fonts/corbel-regular.woff') format('woff');  
  font-weight: 400; 
  font-style: normal; 
  font-display: swap;
}

/* Corel Regular Italic */
@font-face { 
  font-family: 'Corbel'; 
  src: url('../fonts/corbel-italic.woff2') format('woff2'), 
       url('../fonts/corbel-italic.woff') format('woff'); 
  font-weight: 400; 
  font-style: italic; 
  font-display: swap;
}

/* Corel Bold */
@font-face { 
  font-family: 'Corbel'; 
  src: url('../fonts/corbel-bold.woff2') format('woff2'), 
       url('../fonts/corbel-bold.woff') format('woff'); 
  font-weight: 700; 
  font-style: normal; 
  font-display: swap;
}

/* Corel Bold Italic */
@font-face { 
  font-family: 'Corbel'; 
  src: url('../fonts/corbel-bold-italic.woff2') format('woff2'), 
       url('../fonts/corbel-bold-italic.woff') format('woff'); 
  font-weight: 700; 
  font-style: italic; 
  font-display: swap;
}

/* Open Sans Regular */
@font-face { 
  font-family: 'Open Sans'; 
  src: url('../fonts/opensans-regular.woff2') format('woff2'), 
       url('../fonts/opensans-regular.woff') format('woff'); 
  font-weight: 400; 
  font-style: normal; 
  font-display: swap;
}

/* Open Sans Bold */
@font-face { 
  font-family: 'Open Sans'; 
  src: url('../fonts/opensans-bold.woff2') format('woff2'), 
       url('../fonts/opensans-bold.woff') format('woff'); 
  font-weight: 700; 
  font-style: normal; 
  font-display: swap;
}