@media screen and (max-width: 1170px) {
  /* Block - projects */
  .projects__headline {
    padding: 0;
  }
  .projects__item {
    margin-bottom: 20px;
  }
  .projects__list {
    padding-left: 20px;
  }
  .applying__content:last-child,
  .applying__content:first-child {
    width: 50%;
    max-width: 50%;
  }
  /* Block -  */
  .params__group {
    width: 30%;
    max-height: 100%;
  }
  .params__group--first .params__group-controls--row .params__checkbox:first-child {
    margin-right: 70px;
  }
  .params__group-controls {
    max-height: 100%;
  }
}
@media screen and (max-width: 1024px) {
  /* Block - page-header */
  .page-header__bg {
    right: -10%;
    width: 50%;
  }
  .page-header__brelok {
    width: 300px;
  }
  /* Block - projects */
  .projects__item:last-child {
    display: none;
  }
  /* Block - prodcution */
  .production {
    -ms-background-position-x: -700px;
    background-position-x: -700px;
  }
  .production__content {
    margin-right: 0;
  }
  /* Block - feautures */
  .features__content {
    max-width: 212px;
  }
  .features__item:nth-child(4) {
    right: -15px;
  }
  .features__item:nth-child(3) {
    left: -15px;
  }
  /* Block - scheme */
  .scheme__inner {
    padding: 0 200px;
  }
  .scheme__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .scheme__item {
    bottom: -225px;
  }
  .scheme__item:nth-child(4),
  .scheme__item {
    width: 32%;
  }
  .scheme__item:after {
    top: -35px;
    bottom: 0;
  }
  /* Block - adv-text */
  .adv-text__inner {
    padding: 177px 50px;
  }
  .adv-text__card {
    max-width: 45%;
  }
  /* Block - model */
  .model__image {
    width: 40%;
  }
  /* Block - applying */
  .applying__content:last-child,
  .applying__content:first-child {
    width: 100%;
    max-width: 80%;
  }
  /* Block - page-footer */
  .page-footer__contacts {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .page-footer__item {
    width: 33%;
  }
  /* Block - params */
  .params__group--middle {
    margin: 0 30px;
  }
  /* Block - cost */
  .cost__fields-group {
    width: 32%;
    min-width: 0;
  }
  .cost__politics-text {
    margin-left: 15px;
  }
}
@media screen and (max-width: 846px) {
  /* Block - projects */
  .projects__item:nth-child(3) {
    display: none;
  }
  /* Block - adv-text */
  .adv-text__inner {
    padding: 177px 15px;
  }
  .adv-text__card {
    display: none;
  }
  .adv-text__scroll-bar {
    display: none;
  }
  /* Block - req */
  .req__inner {
    padding-right: 0;
  }
  .req__requirements-block {
    margin: 0;
  }
  .req__icons {
    margin-bottom: 15px;
  }
  .req__consider {
    width: 100%;
  }
  /* Block - cost */
  .cost__fields-group {
    width: 60%;
    margin: 0 auto;
  }
  .cost__input,
  .cost__input:last-child {
    margin-bottom: 15px;
  }
  .cost__send-info {
    left: 33%;
  }
}
@media screen and (max-width: 800px) {
  /* Block - page-header */
  .page-header__bg {
    right: -20%;
    width: 70%;
  }
  .page-header__brelok {
    width: 260px;
  }
  /* Block - production */
  .production {
    -ms-background-position-x: 300px;
    background-position-x: 300px;
    background-size: 800px;
  }
  .production__content {
    margin-right: auto;
    margin-left: 0;
  }
  /* Block - features */
  .features__inner {
    background: none;
  }
  .features__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features__item:nth-child(4) {
    right: 0;
  }
  .features__item:nth-child(3) {
    left: 0;
  }
  /* Block - shape */
  .shape__item {
    width: 33%;
  }
  /* Block - scheme */
  .scheme__inner {
    padding: 15px;
  }
  .scheme__list {
    margin-top: 0;
  }
  .scheme__item:first-child,
  .scheme__item:nth-child(2),
  .scheme__item:last-child,
  .scheme__item:nth-child(6) {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .scheme__item:last-child,
  .scheme__item:nth-child(6) {
    padding-right: 30px;
    text-align: right;
  }
  .scheme__item:last-child:after,
  .scheme__item:nth-child(6):after {
    left: auto;
    right: -10px;
  }
  .scheme__item:first-child,
  .scheme__item:nth-child(2) {
    padding-left: 30px;
    text-align: left;
  }
  .scheme__item:first-child:after,
  .scheme__item:nth-child(2):after {
    right: auto;
    left: -25px;
  }
  /* Block - model */
  .model__content {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .model__image {
    margin: 15px auto;
    width: 400px;
  }
  /* Block - services */
  .services__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  /* Block - sale */
  .sale__background {
    width: 95%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: 40px;
    background: url(../img/present_bg-1.png) no-repeat -150px -60%, -webkit-linear-gradient(70deg, #f69249 0%, #bc3e1c 100%);
    background: url(../img/present_bg-1.png) no-repeat -150px -60%, -o-linear-gradient(70deg, #f69249 0%, #bc3e1c 100%);
    background: url(../img/present_bg-1.png) no-repeat -150px -60%, linear-gradient(20deg, #f69249 0%, #bc3e1c 100%);
  }
  /* Block - params */
  .params__group {
    width: 50%;
    padding-right: 15px;
    border: 0;
  }
  .params__group--middle {
    margin: 0;
  }
  .params__checkbox {
    margin-right: 0;
  }
  /* Block - more */
  .more__text,
  .checkbox__more-text {
    left: -15px;
    bottom: 150%;
  }
  .checkbox__more-text,
  .checkbox__more-text:after,
  .more__text,
  .more__text:after {
    -webkit-transform: translateX(-50%) rotate(0deg);
        -ms-transform: translateX(-50%) rotate(0deg);
            transform: translateX(-50%) rotate(0deg);
  }
  /* Block - cost */
  .cost__return-back {
    -webkit-transform: translateY(180%);
        -ms-transform: translateY(180%);
            transform: translateY(180%);
    color: #191919;
  }
}
@media screen and (max-width: 600px) {
  /* Block - projects */
  .projects__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* Block - page-header */
  .page-header__bg {
    width: 100%;
  }
  .page-header__brelok {
    display: none;
  }
  /* Block - shape */
  .shape__list {
    display: none;
  }
  .shape__main-slider {
    max-width: 300px;
    background-size: 90%;
  }
  /* Block - scheme */
  .scheme__list {
    height: auto;
    display: block;
    margin: 0 auto;
    max-width: 250px;
  }
  .scheme__list:after {
    height: calc(100% - 50px);
    border-bottom: 0;
    border-right: 0;
    border-radius: 0;
  }
  .scheme__list:before {
    display: none;
  }
  .scheme__item,
  .scheme__item:first-child,
  .scheme__item:nth-child(2),
  .scheme__item:last-child,
  .scheme__item:nth-child(6),
  .scheme__item:nth-child(4) {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    display: block;
    padding-left: 30px;
    padding-right: 0;
    width: auto;
    text-align: left;
  }
  .scheme__item:after,
  .scheme__item:first-child:after,
  .scheme__item:nth-child(2):after,
  .scheme__item:last-child:after,
  .scheme__item:nth-child(6):after {
    right: auto;
    left: -10px;
    top: -8px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    z-index: 10;
  }
  /* Block - applying */
  .applying__headline {
    font-size: 18px;
  }
  .applying__content--hidden:last-child {
    max-height: 350px;
  }
  .applying__sphere-list li {
    font-size: 14px;
  }
  .applying__content:last-child,
  .applying__content:first-child {
    max-width: 100%;
  }
  .applying__expand-btn {
    margin: 0;
  }
  /* Block - list-item */
  .list__item {
    -ms-background-position-y: 10%;
    background-position-y: 10%;
  }
  /* Block - page-footer */
  .page-footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-footer__item {
    width: 100%;
    margin-bottom: 20px;
  }
  /* Block - params */
  .params__group {
    width: 100%;
  }
  .params__group {
    margin-bottom: 15px;
    padding-top: 15px;
    border-top: 1px solid #c6c6c6;
  }
  .params__group:nth-child(2),
  .params__group:nth-child(6),
  .params__group:last-child {
    border-top-color: transparent;
  }
  /* Block - cost */
  .cost__fields-group {
    width: 100%;
    max-width: 400px;
  }
  .cost__send-info {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    max-width: 400px;
    margin: 15px auto 0;
    text-align: center;
  }
  /* Block - mfp */
  .mfp-content {
    width: 380px;
    height: 330px;
  }
  img.mfp-img {
    max-height: 290px;
  }
  /* Block - cost */
  .cost__return-back {
    -webkit-transform: translateY(220%);
        -ms-transform: translateY(220%);
            transform: translateY(220%);
    color: #191919;
  }
}
@media screen and (max-width: 425px) {
  /* Block - projects */
  .projects {
    background: -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(#000));
    background: -webkit-linear-gradient(left, #e6e6e6 0%, #000 100%);
    background: -o-linear-gradient(left, #e6e6e6 0%, #000 100%);
    background: linear-gradient(to right, #e6e6e6 0%, #000 100%);
  }
  .projects__inner {
    display: block;
  }
  .projects__headline {
    width: 100%;
    color: #fff;
    font-size: 24px;
    text-align: center;
  }
  .projects__number {
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
  }
  .projects__list {
    width: 100%;
    padding-left: 0;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projects__item {
    width: 46%;
    margin: 0;
    min-height: 67px;
    background: #fff;
  }
  .projects__item div {
    width: 100%;
  }
  /* Block - page-header */
  .page-header {
    text-align: center;
  }
  .page-header__bg {
    top: 30px;
    right: 0;
  }
  .page-header__brelok {
    bottom: 45px;
    right: 18%;
    display: block;
    width: 230px;
  }
  .page-header__wave-part {
    bottom: 12%;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    display: block;
    width: 150px;
    height: auto;
  }
  .page-header__inner {
    padding-top: 15px;
    padding: 15px 15px 30px;
  }
  .page-header__top-content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .page-header__content {
    margin-top: 140px;
  }
  .page-header__logo {
    width: 70px;
  }
  .page-header__headline {
    max-width: 242px;
    margin: 0 auto;
    font-size: 2.5rem;
  }
  .page-header__phone {
    display: none;
  }
  .page-header__phone--hidden {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    border-color: #000;
  }
  .page-header__phone--hidden:before {
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    display: block;
    content: "";
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.5)));
    background: -webkit-linear-gradient(top, transparent 0%, rgba(255, 255, 255, 0.5) 100%);
    background: -o-linear-gradient(top, transparent 0%, rgba(255, 255, 255, 0.5) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.5) 100%);
    z-index: -1;
  }
  .page-header__phone--hidden .phone {
    color: #000;
  }
  /* Block - production */
  .production {
    background: #fff url(../img/production_bg-mobile.png) no-repeat;
    background-position-x: right;
    -ms-background-position-y: 0;
    background-position-y: 0;
  }
  .production__inner {
    padding: 30px 15px;
  }
  .production__headline {
    margin-top: 0;
  }
  .production__content {
    max-width: 210px;
  }
  .production__text--hidden:after {
    display: block;
  }
  /* Block - features */
  .features__inner {
    padding-top: 0;
    margin-top: -15px;
  }
  .features__headline {
    margin-bottom: 15px;
    text-align: left;
  }
  .features__item {
    width: 50%;
    margin-bottom: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .features__item:nth-child(odd) .features__content {
    text-align: left;
  }
  .features__preview {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 10px 0;
  }
  /* Block - works */
  .works {
    position: relative;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#4883bd), to(#60b0ce));
    background: -webkit-linear-gradient(top, #4883bd 0%, #60b0ce 100%);
    background: -o-linear-gradient(top, #4883bd 0%, #60b0ce 100%);
    background: linear-gradient(to bottom, #4883bd 0%, #60b0ce 100%);
    overflow: hidden;
  }
  .works:after {
    position: absolute;
    bottom: 50px;
    left: 50%;
    display: block;
    content: "";
    width: 500px;
    height: 200px;
    border-radius: 50%;
    background: #fff;
    -webkit-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    z-index: 0;
  }
  .works__inner {
    position: relative;
    padding-bottom: 0;
    z-index: 1;
  }
  .works__items-group {
    display: block;
    width: 100%;
    padding: 0;
  }
  .works__item {
    height: 234px;
    margin-bottom: 10px;
  }
  .works__item-icon {
    max-width: 300px;
  }
  .works__show-more {
    display: inline-block;
  }
  /* Block - popup */
  .popup__content {
    padding: 30px;
  }
  /* Block - shape */
  .shape__content {
    text-align: center;
  }
  .shape__content-btn {
    display: none;
  }
  .shape__btn-action {
    display: block;
    margin: 0 auto;
  }
  /* Block - scheme */
  .scheme {
    padding-top: 0;
    padding-bottom: 0;
  }
  .scheme__list {
    margin: 40px 25px 0;
    max-width: 200px;
  }
  /* Block - adv-text */
  .adv-text {
    -ms-background-position-y: 0;
    background-position-y: 0;
  }
  .adv-text__inner {
    padding: 100px 15px;
  }
  .adv-text__content {
    max-width: 280px;
  }
  .adv-text__content--hidden {
    max-height: 118px;
  }
  .adv-text__btn {
    margin: 30px 0;
  }
  .adv-text__card {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    display: block;
    max-width: 100%;
    width: 100%;
    margin-left: -30px;
  }
  /* Block - model */
  .model:after {
    bottom: -100px;
    width: 800px;
    height: 400px;
  }
  .model__image {
    max-width: 280px;
  }
  .model__list {
    width: 49.2%;
    margin-right: 0;
    padding-left: 5px;
  }
  .model-item__headline,
  .model-item__sub-text {
    font-size: 14px;
  }
  .model-item__item {
    margin: 5px 0;
    font-size: 13px;
  }
  .model-item__btn {
    margin-left: -5px;
  }
  /* Block - services */
  .services__inner {
    padding: 0 15px 15px;
  }
  .services__headline {
    margin: 0;
  }
  .services__list {
    display: block;
    max-width: 280px;
    margin: 0 auto;
  }
  .services__item {
    margin: 0;
    padding: 10px;
  }
  .slider-arrow {
    overflow: hidden;
  }
  .slider-arrow:before {
    display: none;
  }
  .services__arrow.slider-arrow--prev {
    left: -20px;
  }
  .services__arrow.slider-arrow--next {
    right: -20px;
  }
  /* Block - req */
  .req__inner {
    padding-right: 15px;
  }
  .req__headline {
    font-size: 22px;
  }
  .req__descr,
  .req__consider-headline {
    font-size: 18px;
    font-weight: 700;
  }
  .req__consider-list li {
    max-width: 290px;
  }
  /* Block - page-footer */
  .page-footer__inner {
    text-align: left;
  }
  .page-footer__contacts {
    margin-bottom: 0;
  }
  .page-footer__social {
    margin: 0 -6px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .social__link {
    width: 30px;
  }
  .social__link img {
    width: 100%;
  }
  /* Block - cost */
  .cost__cutomize {
    padding: 15px 0;
  }
  .cost__shapes {
    background: url(../img/shape_slider_bg.png) no-repeat center bottom;
    background-size: 70%;
  }
  .cost__shape {
    height: 250px;
  }
  .cost__shape:before {
    display: block;
  }
  .cost__shape label:after {
    display: none;
  }
  .cost__shape:before {
    -ms-background-position-y: bottom;
    background-position-y: bottom;
    background-size: 100%;
  }
  .cost__shape:after {
    right: 50%;
    -webkit-transform: translateX(50px);
        -ms-transform: translateX(50px);
            transform: translateX(50px);
    content: "Выбрано";
  }
  /* Block - params */
  .params__headline {
    font-size: 18px;
  }
  /* Block - more */
  .more {
    display: none;
  }
  /* Block - upload-file */
  .upload-file {
    padding-left: 60px;
    padding-right: 0;
    color: #fff;
    background: transparent url(../img/phone_icon_light.png) no-repeat 0 40%;
  }
  /* Block - mfp */
  .mfp-content {
    width: 290px;
    height: 270px;
  }
  img.mfp-img {
    max-height: 280px!important;
  }
  .mfp-figure:after {
    width: 180px;
    height: 180px;
  }
}
@media screen and (max-width: 380px) {
  /* Block - page-header */
  .page-header__brelok {
    width: 180px;
    bottom: 25%;
    right: 25%;
  }
  /* Block - cost */
  .cost__shapes {
    background-size: 95%;
  }
  .cost__shape {
    height: 310px;
  }
  .cost__shapes .slick-current.slick-center .cost__shape-img {
    max-height: 250px;
  }
  .works__mfp-arrow {
    opacity: 1;
  }
  .works__mfp-arrow.slider-arrow--left {
    left: -5px;
  }
  .works__mfp-arrow.slider-arrow--right {
    right: -5px;
  }
}
