* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
.page {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Corbel", "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #6f6f6f;
  line-height: 1.2;
  word-wrap: break-word;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  border-radius: 30px;
}
.btn:hover {
  cursor: pointer;
}
.btn--view-action {
  position: relative;
  color: #fff;
  background: #f65b25;
  border: none;
  -webkit-box-shadow: 0px 0px 24.57px 2.43px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 0px 24.57px 2.43px rgba(0, 0, 0, 0.18);
  z-index: 1;
}
.btn--view-action:after,
.btn--view-action:before {
  content: '';
  position: absolute;
  left: -50%;
  right: -50%;
  height: 0;
  padding-bottom: 200%;
  background: #f65720;
  mix-blend-mode: color-burn;
  top: 0;
  z-index: -1;
  border-radius: 230px;
  -webkit-transition: background 5s, -webkit-transform 2s;
  transition: background 5s, -webkit-transform 2s;
  -o-transition: transform 2s, background 5s;
  transition: transform 2s, background 5s;
  transition: transform 2s, background 5s, -webkit-transform 2s;
}
.btn--view-action:after {
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
  -webkit-transform: translate3d(-5%, 6em, 0) rotate(-45deg);
          transform: translate3d(-5%, 6em, 0) rotate(-45deg);
}
.btn--view-action:before {
  border-bottom-right-radius: 40%;
  border-top-left-radius: 40%;
  -webkit-transform: translate3d(5%, 6em, 0) rotate(0deg);
          transform: translate3d(5%, 6em, 0) rotate(0deg);
}
.btn--view-action:hover:before,
.btn--view-action:focus:before,
.btn--view-action:hover:after,
.btn--view-action:focus:after {
  -webkit-transform: translate3d(0, -5em, 0) rotate(180deg);
          transform: translate3d(0, -5em, 0) rotate(180deg);
  background: #ae3207;
}
.btn--view-pseudo {
  position: relative;
  border: none;
  background-color: transparent;
  background-image: url(../img/btn_gradient.svg);
  background-repeat: no-repeat;
}
.btn--size-md {
  width: 176px;
  height: 42px;
  line-height: 42px;
}
.btn--size-sm {
  width: 132px;
  height: 34px;
  color: #191919;
}
.headline {
  font-size: 25px;
  line-height: 1.2;
  color: #191919;
}
/* Block - phone */
.phone {
  font-size: 20px;
  line-height: 1;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  color: #fff;
  text-decoration: none;
}
/* Block - page-header */
.page-header {
  position: relative;
  height: 500px;
  width: 100%;
  background: url(../img/header_bg_blue_wave.png) no-repeat top right;
  overflow: hidden;
}
.page-header__wave-part {
  position: absolute;
  height: 100%;
  max-height: 500px;
}
.page-header__wave-part {
  width: 385px;
  top: 0;
  right: 0;
  background: url(../img/header_bg_2.png) no-repeat 0 bottom;
  background-size: 100%;
}
.page-header__brelok {
  position: absolute;
  top: 214.5px;
  right: 15%;
  -webkit-transform: translateX(500%);
      -ms-transform: translateX(500%);
          transform: translateX(500%);
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  -o-transition: transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
}
.page-header__brelok--visible {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.page-header__inner {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  padding: 67px 15px 97px;
}
.page-header__top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-header__phone {
  padding: 0 1.4em;
  border: 2px solid #fff;
  line-height: 42px;
  height: 42px;
  border-radius: 30px;
}
.page-header__content {
  max-width: 405px;
  margin-top: 30px;
  margin-bottom: 35px;
}
.page-header__headline {
  margin: 0;
  font-size: 30px;
  color: #191919;
}
.page-header__text {
  margin: 0;
}
/* Block - projects */
.projects {
  background-color: #fff;
}
.projects__inner {
  max-width: 1300px;
  margin: 0 auto;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.projects__headline {
  margin: 0;
  padding-right: 45px;
  padding-left: 85px;
  color: #191919;
  font-size: 16px;
  line-height: 26px;
}
.projects__number {
  font-size: 30px;
  display: block;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 500;
}
.projects__list {
  padding: 0 0 0 45px;
  margin: 0;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}
.projects__item {
  border: 2px solid #E5E5E5;
}
.projects__item div {
  position: relative;
  height: 67px;
  width: 190px;
  text-align: center;
}
.projects__project-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/* Block - production */
.production {
  background: #f0f0f0 url(../img/production_bg.png) no-repeat -520px 20%;
}
.production__inner {
  max-width: 1140px;
  padding: 100px 15px;
  margin-left: auto;
}
.production__content {
  max-width: 470px;
  margin-left: auto;
  margin-right: 80px;
}
.production__headline {
  max-width: 300px;
}
.production__text p:first-child {
  max-width: 410px;
  color: #191919;
}
.production__text p {
  margin: 0;
}
.production__text hr {
  width: 72%;
  margin-right: auto;
  margin-left: 0;
  height: 2px;
  border: 0;
  background: #b7b7b7;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(1%, #b7b7b7), color-stop(99%, #b7b7b7), to(transparent));
  background: -webkit-linear-gradient(left, transparent, #b7b7b7 1%, #b7b7b7 99%, transparent 100%);
  background: -o-linear-gradient(left, transparent, #b7b7b7 1%, #b7b7b7 99%, transparent 100%);
  background: linear-gradient(to right, transparent, #b7b7b7 1%, #b7b7b7 99%, transparent 100%);
}
/* Block - features */
.features__inner {
  max-width: 1020px;
  margin: 0 auto;
  padding: 100px 15px;
  background: url(../img/features_bg.png) no-repeat center 70%;
}
.features__headline {
  margin-bottom: 60px;
  text-align: center;
}
.features__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}
.features__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}
.features__item:nth-child(even) .features__content {
  text-align: left;
}
.features__item:nth-child(odd) .features__content {
  text-align: right;
}
.features__item:nth-child(3) {
  left: -30px;
}
.features__item:nth-child(4) {
  right: -30px;
}
.features__content,
.features__icon {
  display: inline-block;
  vertical-align: middle;
}
.features__content {
  max-width: 230px;
}
.features__item-headline {
  margin: 0;
  color: #191919;
}
.features__item-descr {
  margin: 10px 0 0;
}
.features__preview {
  position: relative;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  margin: 0 26px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.37);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.37);
  background: url(../img/features_preview_border.png) no-repeat center center;
}
.features__image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 67px;
}
/* Block - works */
.works {
  background: url(../img/works_bg.png) no-repeat;
  background-size: 100%;
}
.works__inner {
  max-width: 1345px;
  margin: 0 auto;
  padding: 50px 15px;
}
.works__headline {
  margin-top: 0;
  color: #fff;
  text-align: center;
}
.works__list {
  padding: 0;
  margin: 0 -5px;
  list-style: none;
  letter-spacing: -0.3em;
}
.works__items-group {
  display: inline-block;
  margin: 0 2px;
  width: 16.4%;
}
.works__item {
  position: relative;
  display: block;
  height: 157px;
  width: 100%;
  margin-bottom: 2.5px;
  text-decoration: none;
  letter-spacing: 0;
  background: #f0f0f0;
  overflow: hidden;
}
.works__item:hover .works__content-overlay {
  opacity: 1;
}
.works__item-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 200px;
}
.works__content-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 40px;
  padding-left: 20px;
  opacity: 0;
  background: #f2f2f2 url(../img/works_overlay_border.png) no-repeat;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
}
.works__item-headline {
  margin: 0;
  color: #191919;
}
.works__item-descr {
  margin-top: 5px;
  margin-bottom: 0;
  max-width: 160px;
  color: #6f6f6f;
  font-size: 14px;
}
